node_modules
**/node_modules
dist
**/dist
.env
.git
.github
.vscode
**/.git
**/.github
**/.vscode
*.log
*.xls
*.xlsx
debug-storage.js
mizrhai2025.json
data
results
ha-addon/node_modules
server/node_modules
client/node_modules
shared/node_modules
