ha-addon
node_modules
**/node_modules
dist
**/dist
.env
runtime-settings.json
data/config/runtime-settings.json
.git
.github
.vscode
**/.git
**/.github
**/.vscode
*.log
*.xls
*.xlsx
mizrhai2025.json
data
results
server/node_modules
client/node_modules
shared/node_modules
