node_modules
dist
.env
.git
.github
.vscode
*.log
*.xls
*.xlsx
ha-addon/node_modules
server/node_modules
client/node_modules
client/dist
shared/node_modules
shared/dist
server/dist
debug-storage.js
mizrhai2025.json
